@import './colors.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.card {
    &__text {
        color: $white-1;
        text-decoration: inherit;
        text-transform: inherit;
        font-size: 0.975rem;
        line-height: 1.5rem;
        letter-spacing: 0.00875rem;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

    &__header-title {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;
        letter-spacing: 0.00125rem;
        margin-bottom: .875rem;
    }

    &__header-subtitle {
        font-size: 1rem;
        line-height: 1.75rem;
        font-weight: 700;
        letter-spacing: 0.00275rem;
        opacity: .8
    }
}